## Reading the datasets

In [3]:
import pandas as pd
exam_data = pd.read_csv("StudentsPerformance.csv")
exam_data.head()

   gender race/ethnicity      ...      reading score writing score
0  female        group B      ...                 72            74
1  female        group C      ...                 90            88
2  female        group B      ...                 95            93
3    male        group A      ...                 57            44
4    male        group C      ...                 78            75

[5 rows x 8 columns]

I will be using Kaggle Student Performance Datasets for this project. The datasets consists of 1000 entries with no null values which is awesome. Looking at the head data, it look like the higher the parental education, higher the score in Math, reading and writing and also the gender plays great role on the score.

 The csv data has race, gender, parental level of education which would be the key factors to observe and predict the value. I would like to see how free lunch would affect the Student performance in the exam. It would be an interesting thing to look at. Also the math score, reading score and writing score would help me to predict the desired output.

## Since the data doesn't have any null values.  I guess i don't have to do the data cleaning.

## Splitting the data frames to test and train set (75:25) ratio

In [5]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(exam_data, test_size=0.25, random_state=123)
print(len(train_set), len(test_set))
print(train_set.head())
print(test_set.head())
working_set1 = train_set.copy()

750 250
     gender race/ethnicity      ...      reading score writing score
894  female        group E      ...                 62            69
941  female        group D      ...                 91            96
285    male        group B      ...                 82            82
462  female        group E      ...                 70            76
370    male        group E      ...                 77            71

[5 rows x 8 columns]
     gender race/ethnicity      ...      reading score writing score
131    male        group C      ...                 37            40
203  female        group B      ...                 69            68
50     male        group E      ...                 55            48
585  female        group C      ...                 76            76
138  female        group C      ...                 66            67

[5 rows x 8 columns]

I splitted the dataset with 25% test set and 75% in training set. The head data looks good for both test and train set.